.navbar-admin-color {
  background-color: rgb(87, 156, 158);
  color: black;
  border: none;
}
.navbar-select:hover {
  cursor: pointer;
  background-color: rgb(48, 133, 136);
}
.background-color {
  background-color: rgb(53, 165, 169);
}
